body {background-color: #f5f5dd; }

div.one{background-color: black; 
  }

div.two{background-color: rgba(0, 0, 0, 0.674); 
  }

 div.three{background-color: rgba(0, 0, 0, 0.279); 
  }

div.four {background-color: rgba(0, 0, 0, 0.064); 
  }

  div.shape {width: 150px;
    height: 150px;
    margin-top: 15px;
  }